.SignBody {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  text-align: center; }

.form-sign {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto; }

.form-sign .checkbox {
  font-weight: 400; }

.form-sign .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px; }

.form-sign .form-control:focus {
  z-index: 2; }

.form-sign input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-sign input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.form-sign_button {
  width: 100%; }

.noticia {
  margin: 5%; }

.noticia_titulo-especial {
  text-align: center;
  text-decoration: underline; }

.noticia_portada {
  margin-bottom: 5%; }

.noticia_portada_imagen {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px black;
  margin-bottom: 1%; }

.footer {
  margin-top: 10%; }

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden; }

.navbar {
  display: fixed !important;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  background-color: #0000003f;
  color: rgba(255, 255, 255, 0.788) !important; }

.navbar_primary {
  box-shadow: 0px 2px 5px #8b8181;
  margin-bottom: 5%;
  background-color: #000000bd;
  color: #000000bd !important; }

.navbar_container {
  background-color: #00000000;
  display: sticky !important; }

.navbar-brand h2 {
  color: rgba(255, 255, 255, 0.788) !important; }

.navbar-brand {
  color: rgba(255, 255, 255, 0.788) !important;
  font-family: 'Didact Gothic', sans-serif; }

.nav-item {
  text-align: center; }

.nav-item a {
  color: rgba(255, 255, 255, 0.788) !important;
  text-align: center; }

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.692) !important; }

.dropdown-menu :hover {
  background-color: rgba(0, 0, 0, 0.692) !important; }

.index__header__elements {
  justify-content: space-between;
  align-items: center;
  display: flex; }

.index__header__element--center {
  text-align: center; }

.carousel-index {
  justify-content: center; }

.BreakingNews_title {
  margin: -1% 0 5% 0;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif; }

.content {
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center !important; }

.header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  text-align: center;
  color: rgba(255, 255, 255, 0.904) !important; }

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.header-video video {
  min-width: 100%;
  min-height: 100%; }

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #0000002c;
  z-index: 1;
  opacity: .85; }

.header-content {
  z-index: 2; }

.header-content h1 {
  margin-top: 13rem;
  font-size: 10.5rem;
  margin-bottom: 0;
  font-family: 'Didact Gothic', sans-serif; }

.header-content h2 {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
  font-weight: normal; }

@media (max-width: 992px) {
  .navbar_secondary {
    display: none !important; }
  .header-content h1 {
    font-size: 50px;
    margin-top: 15rem; }
  .BreakingNews_title {
    margin: -7% 0 11% 0; } }
