body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

.navbar {
    z-index: 3;
    background-color: #0000003f;
    color: rgba(255, 255, 255, 0.788) !important;
}

.navbar_primary {
    box-shadow: 0px 2px 5px rgb(139, 129, 129);
    margin-bottom: 5%;
    background-color: #000000bd;
    color: #000000bd !important;
}

.navbar-brand {
    color: rgba(255, 255, 255, 0.788) !important;
    font-family: 'Didact Gothic', sans-serif;
}


.nav-item a {
    color: rgba(255, 255, 255, 0.788) !important;
    text-align: center;
}

.dropdown {
    text-align: center;
}
.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.692) !important;
    text-align: center;
}

.dropdown-menu :hover {
    background-color: rgba(0, 0, 0, 0.692) !important; }

.content {
    max-width: 80rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center !important;
}
.header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    text-align: center;
    color: rgba(255, 255, 255, 0.904) !important;
}

.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-video video {
    min-width: 100%;
    min-height: 100%;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #0000002c;
    z-index: 1;
    opacity: .85;
}

.header-content {
    z-index: 2;

}

.header-content h1 {
    margin-top: 13rem;
    font-size: 10.5rem;
    margin-bottom: 25px;
    font-family: 'Didact Gothic', sans-serif;
}

.header-content h2 {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
    font-weight: normal;
}

.BreakingNews {
    
}

.BreakingNews_title {
    margin: -1% 0 5% 0;
    text-align: center;
    font-family: 'Merriweather', serif;
	font-size: 40px;
}

.titulo_seccion {
	margin: 0% 0 0% 2%;
	font-family: 'Merriweather', serif;
}
.card-body .card-title{
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
}

.card-body .card-text{
    font-family: 'Nunito', sans-serif;}

div a { color: #333;}

div a:hover { color: #333;}

.footer {margin-top: 35px;}
	
footer{
	position: relative;
    bottom: 0;
    
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
    padding: 55px 50px;
    margin-top: 80px;
    color: rgba(255, 255, 255, 0.788) !important;
    font-family: 'Didact Gothic', sans-serif !important;
    font-size: 16px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.fa {
    width: 70%;
    height: 70%;

}

@media (max-width: 768px) {

	.footer-distributed{
		font-size: 14px;
	
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
	.navbar_secondary {
        display: none !important;
    }
    .header-content h1 {
        font-size: 50px;
        margin-top: 15rem;
    }
    .BreakingNews_title {
        margin: -7% 0 11% 0;
    }
    .card-body .card-text {
        display: none;
    }
}
