.noticia {
    margin: 5%;

}

.noticia_titulo {

}

.noticia_titulo-especial {
    text-align: center;
    text-decoration: underline;
    
}

.noticia_titulo-festivo {

}

.noticia_portada {
    margin-bottom: 5%;
}

.noticia_portada_imagen { 
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 1%;
}

.footer {
    margin-top: 10%;
}
