.navbar {
    padding: 7%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.nav-element {
    
}

.index__header {
    
}

.nav-h2 {
    font-size: medium;
}

.nav__element--right {
    display: flex;
    justify-content: end;
    align-items: center;

}

.nav__element--left {
    display: flex;
    justify-content: end;
    align-items: center;
}

.index__header__elements {
    justify-content: space-between;
    align-items: center;
    display: flex;
}



.index__header__element--center {
    text-align: center;
}


.card-index{
    
}

.card-section {
    
}


.carousel-index {
    justify-content: center;
}

.BreakingNews_title {
    margin: 5% 0 5% 0;
    text-align: center;
}