.nav-bar {
    padding: 7%;
    text-align: center;
    justify-content: space-around;
}

.nav-element {
    
}

.index__header {
    
}

.index__header__elements {
    justify-content: space-between;
    align-items: center;
    display: flex;
    wrap: none;
}

.index__header__element--left {

}

.index__header__element--center {
    text-align: center;
}

.index__header__element--right {
    justify-content: end;
    align-items: center;

}
.card-index{
    
}

.card-section {
    margin-top: 5%
}


.carousel-index {
    justify-content: center;
}